body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url(file:///C:/Users/mhmd/Pictures/pfp/Anime-Above-Clouds-Scenery-AI-Generated-4K-Wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    

    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
